
section {
  width: 480px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  text-align: center;
}

@media only screen and (min-width: 768px){
  body {
    
  }
}

@media only screen and (min-width: 1200px){
  section {
    width: 960px;
    height: 700px;
    grid-template-columns: 200px repeat(4, 1fr);
    grid-template-rows: auto; 
  }
}

